body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* 页面背景颜色 */
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #39c5bb; /* 标题背景颜色 */
    color: #fff; /* 标题文字颜色 */
    padding: 20px;
    text-align: center;
}
header h1 {
    margin: 0;
}
.directory {
    padding: 20px 0;
}
.directory a {
    text-decoration: none;
    color: #39c5bb; /* 链接颜色 */
    margin-right: 10px;
    transition: color 0.3s ease;
}
.directory a:hover {
    color: #fff; /* 链接悬停颜色 */
}
.section {
    margin: 20px 0;
    padding: 10px;
    background: rgba(255, 255, 255, 0.6); /* 技的背景颜色 */
    border-radius: 5px;
}
.video-title {
    font-size: 1.2em;
    margin-top: 10px;
    color: #000; /* 视频标题颜色 */
}
.video-list {
    list-style: none;
    padding-left: 0;
}
.video-list li {
    margin-bottom: 5px;
}
.video-link {
    text-decoration: none;
    color: #39c5bb; /* 视频链接颜色 */
}
.video-link:hover {
    text-decoration: underline;
    color: #fff; /* 视频链接悬停颜色 */
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff; /* 下拉菜单背景颜色 */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid #39c5bb; /* 下拉菜单边框颜色 */
}
.dropdown-content a {
    color: #000; /* 下拉菜单链接颜色 */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #39c5bb; /* 下拉菜单分隔线颜色 */
}
.dropdown-content a:hover {
    background-color: #39c5bb; /* 下拉菜单链接悬停背景颜色 */
    color: #fff; /* 下拉菜单链接悬停文字颜色 */
}
.dropdown:hover .dropdown-content {
    display: block;
}
