body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* 页面背景色 */
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #39c5bb; /* 主题色 */
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #fff; /* 添加白色边框 */
}
header h1 {
    margin: 0;
}
header a {
    color: #fff;
    text-decoration: none;
    background: #007a87; /* 返回按钮背景色 */
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s ease;
}
header a:hover {
    background: #005d6d; /* 返回按钮悬停效果 */
}
nav {
    text-align: center;
    padding: 20px 0;
}
nav ol {
    list-style: none;
    padding: 0;
}
nav ol li {
    display: inline;
    margin: 0 10px;
}
nav ol li a {
    text-decoration: none;
    color: #39c5bb; /* 目录链接颜色 */
    border-bottom: 2px solid transparent; /* 添加边框以便悬停时显示 */
    transition: border-color 0.3s ease;
}
nav ol li a:hover, nav ol li a:focus {
    border-color: #39c5bb; /* 目录链接悬停效果 */
}
.details-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* 添加阴影效果 */
}
details {
    margin-bottom: 20px;
}
summary {
    padding: 10px;
    background-color: #39c5bb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}
summary:hover, summary:focus {
    background-color: #007a87;
}
iframe {
    width: 100%;
    border: none;
    margin-bottom: 20px; /* 添加边距 */
}
